@import 'normalize.css/normalize.css';
@import 'github-markdown-css';

// 滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background-color: #888888;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888888;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f2f6fc;
}

// 标签样式
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// reset element-ui css
.el-header {
  padding: 0;
}

.el-main {
  padding: 0;
}

// markdown
.markdown-body {
  color: #1f2328 !important;
  background-color: #fff !important;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Ubuntu,
    Helvetica Neue,
    Helvetica,
    Arial,
    PingFang SC,
    Microsoft YaHei UI,
    Microsoft YaHei,
    Source Han Sans CN,
    sans-serif !important;
}

.markdown-body blockquote {
  color: #656d76 !important;
  border-color: #d0d7de !important;
}

.markdown-body h2 {
  border-color: hsla(210, 18%, 87%, 1) !important;
}

.markdown-body pre {
  padding: 0 !important;
}

.markdown-body code {
  background-color: rgba(175, 184, 193, 0.2) !important;
}

code.hljs {
  background: #23241f !important;
  padding: 1em !important;
  display: block !important;
}
